<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    
    <body>
        <div class="topcorner">
            <p>Project Name</p>
            <p>Student Name (NetID)</p>
        </div>
        
        <div class="row">
            <div class="form-inline global-search" method='GET'>
                <div class="form-group">
                    <input id="user-selection-input" type="text" name="search" class="form-control shadow" placeholder="Your Input">
                    <button id="search-button" class="btn btn-info">Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 col-centered" id="results">

            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </body>
</html>