<html>
    <head>
        <title>summarizR</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    
    <body>
        <div class="container">
            <div class="row" style="margin-bottom: 10px;">
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#articles" data-toggle="tab">Articles</a></li>
                    <li><a href="#dynamic" data-toggle="tab">Dynamic Input</a></li>
                    <li><a href="#about" data-toggle="tab">About</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="articles">
                        <div class="container">
                            <div class="row">
                                <div>
                                    <div class="form-inline global-search" method='GET'>
                                        <div class="form-group">
                                            <input id="search-input" type="text" name="search" class="form-control shadow" placeholder="Keywords">
                                            <button id="search-button" class="btn btn-info">Search</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="date-wrapper">
                                </div>
                                <div class="article-wrapper">
                                    <div>
                                        <a class="article-title" href="">Title</a>
                                    </div>
                                    <div class="article-organization-wrapper">
                                        <span class="article-field-header">Organization: </span>
                                        <span class="article-organization"></span>
                                    </div>
                                    <div class="article-author-wrapper">
                                        <span class="article-field-header">Author: </span>
                                        <span class="article-author"></span>
                                    </div>
                                    <div class="article-summary-wrapper">
                                        <div class="article-summary-header-wrapper">
                                            <div class="article-field-header">
                                                Text Summary:
                                            </div>
                                            <div class="article-summary-length-wrapper">
                                                  <form>
                                                      <div class="radio">
                                                          <label>
                                                              <input class="short-summary-radio-button" type="radio"
                                                              name="summary-radio-button" value="short">Short
                                                          </label>
                                                      </div>
                                                      <div class="radio">
                                                          <label>
                                                              <input class="medium-summary-radio-button" type="radio"
                                                              name="summary-radio-button" value="medium">Medium
                                                          </label>
                                                      </div>
                                                      <div class="radio">
                                                          <label>
                                                              <input class="long-summary-radio-button" type="radio"
                                                              name="summary-radio-button" value="long">Long
                                                          </label>
                                                      </div>
                                                  </form>
                                            </div>
                                            <div class="article-summary-method-wrapper">
                                                  <form>
                                                      <div class="radio">
                                                          <label>
                                                              <input class="top-sentences-radio-button" type="radio"
                                                              name="optradio">Top Sentences
                                                          </label>
                                                      </div>
                                                      <div class="radio">
                                                          <label>
                                                              <input class="top-block-of-text-radio-button" type="radio"
                                                              name="optradio">Top Block of Text
                                                          </label>
                                                      </div>
                                                  </form>
                                            </div>
                                        </div>
                                        <div class="article-summary"></div>
                                    </div>
                                </div>
                                <div id="article-results" class="col-md-offset-2 col-md-8">
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade" id="dynamic">
                        <div class="container">
                            <div class="row">
                                <textarea class="form-control" id="dynamic-text-area" rows="10"></textarea>
                            </div>
                            <div class="row">
                                <button id="summarize-button" type="button" class="btn btn-primary pull-right">Summarize</button>
                                <form>
                                      <div class="radio">
                                          <label>
                                              <input class="short-summary-radio-button" type="radio"
                                              name="dynamic-summary-length" value="short" checked>Short
                                          </label>
                                      </div>
                                      <div class="radio">
                                          <label>
                                              <input class="medium-summary-radio-button" type="radio"
                                              name="dynamic-summary-length" value="medium">Medium
                                          </label>
                                      </div>
                                      <div class="radio">
                                          <label>
                                              <input class="long-summary-radio-button" type="radio"
                                              name="dynamic-summary-length" value="long">Long
                                          </label>
                                      </div>
                                  </form>
                            </div>
                            <div class="row">
                                <span id="summary-display-area">
                                    
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="about">
                        Han Li and Kevin Jiang, CS 4700
                    </div>
                </div>
            </div>
            

            
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </body>
</html>