body {
    overflow-y: scroll; 
    background: #F4F5F6;
    font-family: 'Roboto', sans-serif;
}

* {
  border-radius: 0 !important;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.global-search {
  text-align:center;
  padding:10px;
  }
  .global-search .form-control {
  width:500px;
  }
  .global-search * {
  display:inline-block;
  margin-bottom:0;
  vertical-align: top;
  }
.date-wrapper {
    color: #606C76;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.article-wrapper {
    background-color: white;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: none;
    margin-bottom: 15px;
}

.article-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.article-organization-wrapper {
    margin-bottom: 10px;
}

.article-author-wrapper {
    margin-bottom: 10px;
}

.article-summary-length-wrapper {
    border: 1px solid black;
    padding: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-summary-method-wrapper {
    border: 1px solid black;
    padding: 5%;
}

.article-summary-header-wrapper {
    display: inline-block;
    width: 25%;
}

.article-summary {
    display: inline-block;
    width: 72%;
    vertical-align:top;
}

.article-field-header {
    font-weight: bold;
    display: block;
}

.article-summary-length-wrapper {
    display: block;
}

.article-summary-method-wrapper {
    display: block;
    vertical-align: top;
}

#article-results {
    margin-top: 20px;
    padding: 0;
}

.nav-tabs{
    border-bottom: none;
}
.nav-tabs>li>a{
    border-radius: 0px;
    border: none;
}

.tabs>li.active>a:focus{
    border-bottom-color: #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: #9B4DCA;
    border-bottom-color: #ddd;

}
.nav-tabs>li>a{
    color: black;
    font-size: 1.1em;
}

.btn{
  background-color: #9B4DCA;
  transition: all 0.25s ease 0s;
  text-align: center;
}
.btn:hover{
  background-color: white;
  color: #9B4DCA;
}

a, a:hover, a:focus{
    color:#9B4DCA;
}

/*
 * loading indicator
 */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;

  display: none;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}